*{
	margin: 0px;
	padding: 0px;
}
/*style for navbar*/
.navbar{
  background-image: url(cutegirlimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  padding: 10px 30px 10px 30px;
  color: white;

}
#logo{
	margin-left: 10px;

}

.fa-solid{
	margin-left: 200px;
}
.fa-regular{
	margin-left: 200px;
}


.nav{
	display: flex;


}
.nav ul  a{
	text-decoration: none;
}
.nav ul li{
	color: white;
}

span{
	color: orange;
}

.nav-btn{
	background-color: orange;
	border: 1px solid orange;
	margin-top: 20px;
	font-size: 16px;
	color: white;
	padding: 8px 12px 8px 12px;
	border-radius: 12px;

}


.nav ul{
	list-style-type: none;
	display: flex;
	margin-left: 800px;
	gap: 20px;
}
.bar{
	margin: 60px 750px 40px 40px;
	padding: 20px;
}
/*style for comments*/
.comment{
	background-color: #EEE8AA;
	display: flex;
	height: 170px;
	width: 97%;
    padding: 20px 20px 30px 20px;
	gap: 80px;
	justify-content: center;
	align-items: center;
	
	
}
/*style for images*/
.image-content{
	align-content: center;
	justify-items: center;
	padding-top: 20px;
}
.images{
	display: flex;
	align-content: center;
	justify-items: center;
	margin-left: 150px;
	gap: 30px;
	text-align: center;
	font-size: 15px;
	padding-top: 20px;
}
.images img{
	height: 120px;
	width: 120px;
}

table{
 width: 100%;
}
/* style for counting-section */
.main-counting{
	margin-top: 20px;
	background-image: url(https://thumbs.dreamstime.com/b/hand-holding-young-plant-blur-green-nature-background-concept-eco-earth-day-hand-holding-young-plant-blur-green-nature-152466294.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	align-content: center;
	justify-items: center;
	padding-top: 20px;
}
.counting{
	display: flex;
	align-content: center;
	justify-items: center;
	margin-left: 150px;
	gap: 30px;
	text-align: center;
	padding-top: 40px;
}
.counting img{
		height: 120px;
	width: 120px;
}
.donate-section{
	display: flex;
	gap: 20px;
	padding-top: 30px;
	font-size: large;
}
/*style for upcoming events*/
.upcoming{
	align-content: center;
	justify-items: center;
	padding-top: 20px;
}
.upcoming-images{
	display: flex;
	align-content: center;
	justify-items: center;
	margin-left: 160px;
	gap: 85px;

}
.upcoming-images img{
	height: 270px;
	width: 450px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.about{
	display: flex;
	background-color: #2F4F4F;
	height: 200px;
	width: 94%;
	color: white;
	gap: 50px;
	align-content: center;
	justify-items: center;
	padding: 40px 40px 40px 40px;
}
.about ul{
	list-style-type: none;
	font-size: 20px;
}